/* Google font imports */
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@400;700&display=swap");

/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #fa42e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
  }

body {
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size)
}

h1,
h2,
h3 {
  margin: 0;
}

.gradient {
    background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
    height: 2px;
}

.section-dkblue {
    background-color: var(--dkblue);
}

/* Navbar section */
nav {
    font-family: var(--mono);
}

.flex-links {
    display: flex;
    /* Will wrap when vw decreases */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.navlinks, .footer-links {
    list-style-type: none;
    padding: 1.5rem;
    margin: 0;
}

.navlinks li a {
    text-decoration: none;
    transition: color 0.4s ease;
    color: var(--white);
    font-size: 1.15rem;
}

.navlinks li a:hover {
    color: var(--hotmag);
}

.navlinks li:first-child a {
    font-family: var(--sans);
    font-size: 1.5rem;
}

/* to place my name at the top (flex-basis: 100% to make an element span the full width of the browser window) and centered */
.navlinks li:first-child {
    flex-basis: 100%;
    text-align: center;
}

/* Selector that allows us to select elements that include a substring that we specify */
nav [class*='fa'], footer [class*='fa'] {
    color: var(--aqua);
    font-size: 150%;
    transition: color 0.4s ease;
}

nav [class*='fa']:hover, footer [class*='fa']:hover {
    color: var(--hotmag)
}

/* We have to chain our class selector with our .navlink li a descendant selector, since we have some styles on there that we want to override. To do that, we need to make this selector more specific, which we can do by chaining a class selector to the descendant selector. */
.navlinks li a.call-to-action {
    background-color: var(--magenta);
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.4s ease;
}
/* this may work but keep in mind specificity! */
/* .call-to-action {
    background-color: var(--magenta);
    padding: 0.5rem;
    border-radius: 5px;
} */

.navlinks li a.call-to-action:hover {
    background-color: var(--hotmag);
    color: var(--white);
}

/* Intro section */
a {
    color: var(--magenta);
    transition: all 0.2s ease;
}

a:hover {
    text-decoration: none;
    color: var(--hotmag)
}

#intro {
    padding: 0 2rem 10rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
}

.name span {
    font-family: var(--sans);
    font-size: 3rem;
    color: var(--aqua);
    display: block;
    font-weight: 600;
}

/* Contact section */
#contact {
    text-align: center;
    background-color: var(--plum);
}

/* Project section */
#projects {
    padding: 4rem 1rem;
}

/* We're using calc because we want our line height to be consistent across the page. We added a line-height of 1.5 to our paragraph in the intro section so we're adding it to our bottom margin so our spacing can remain consistent*/
#projects h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
    color: var(--aqua);
    margin-bottom: calc(1.5rem * 1.5);
}

#projects h4 {
    font-size: 1rem;
    font-family: var(--mono);
    margin: 0;
}

.black-box {
    background-color: var(--black);
    border-radius: 7px;
    padding: 1rem;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

#projects ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: flex-start;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

#projects img {
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    border-top: 1px solid var(--aqua);
    border-left: 1px solid var(--aqua);
    border-radius: 14px;
    width: 100%;
}

#contact article {
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    padding: 3rem 0;
}

#contact article a {
    color: var(--aqua);
  }

#contact article p:last-child {
    margin-top: 3rem;
  }

/* footer, other styles added in nav section */
footer p {
    text-align: center;
}

/* Responsive */
@media screen and (min-width: 550px) {
    #projects article {
        display: grid;
        /* we want to overlap some of the content so we'll add more columns*/
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }

    /* The grid-column property is a shorthand for: grid-column-start and grid-column-end */
    .image {
        grid-column: 1 / 7;
    }

    /* we use order to specify the position of the text in the grid */
    .text {
        order: 2;
        text-align: right;
        grid-column: 5 / 11;
    }
    /* we need to override CSS Grid's default wrapping behaviour which is pushing our content down to a second row because we're using more columns that are set (10) to be able to overlap content*/
    .image, .text {
        grid-row: 1 / 2;
    }

    /* we need to overwrite the justify-content property that we set for mobile devices for this list*/
    #projects ul {
        justify-content: flex-end;
    }
}


@media screen and (min-width: 750px) {
    .navlinks li:first-child {
        flex-basis: auto;
        margin-right: auto;
        text-align: left;
    }

    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
}